---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: qtodo-sign-artifact
  namespace: {{ .Values.global.namespace }}
spec:
  description: This Task can be used to sign the qtodo artifact.
  workspaces:
    - name: source
      description: The workspace where the source code is cloned.
  params:
    - description: Path to the artifact to sign
      name: qtodo-artifact-path
      type: string
    - description: PEM encoded file containing the CA certificate to validate RHTAS services
      name: ca-file
      type: string
    - description: Fulcio service URL
      name: fulcio-url
      type: string
    - description: Rekor service URL
      name: rekor-url
      type: string
    - description: TUF service URL
      name: tuf-url
      type: string
    - description: Cosign CLI server URL
      name: cli-server-url
      type: string
{{- if eq .Values.rhtas.oidc.enabled true }}
    - description: OIDC identity to use for signing
      name: oidc-identity
      type: string
    - description: OIDC issuer to use for signing
      name: oidc-issuer
      type: string
    - description: RHTAS OIDC client ID
      name: rhtas-oidc-client-id
      type: string
{{- end }}

  volumes:
    - name: spiffe-workload-api
      csi:
        driver: csi.spiffe.io
        readOnly: true
    - name: rhtas-functions
      configMap:
        name: rhtas-functions
        defaultMode: 0755
{{- if eq .Values.rhtas.oidc.enabled true }}
    - name: rhtas-oidc-client-secret
      secret:
        secretName: {{ .Values.rhtas.oidc.clientSecretName }}
        defaultMode: 0400
{{- end }}

  steps:
    - image: {{ .Values.tasks.images.cosign }}
      name: sign-artifact
      resources: {}
      env:
        - name: SPIFFE_ENDPOINT_SOCKET
          value: {{ .Values.spire.endpointSocketPath }}
        - name: CLI_SERVER_URL
          value: $(params.cli-server-url)
        - name: TUF_URL
          value: $(params.tuf-url)
        - name: FULCIO_URL
          value: $(params.fulcio-url)
        - name: REKOR_URL
          value: $(params.rekor-url)
        - name: CA_FILE
          value: $(params.ca-file)
{{- if eq .Values.rhtas.oidc.enabled true }}
        - name: OIDC_IDENTITY
          value: $(params.oidc-identity)
        - name: OIDC_ISSUER
          value: $(params.oidc-issuer)
        - name: OIDC_CLIENT_ID
          value: $(params.rhtas-oidc-client-id)
        - name: OIDC_CLIENT_SECRET_FILE
          value: /run/secrets/rhtas/oidc/client-secret
{{- end }}
      volumeMounts:
        - name: spiffe-workload-api
          mountPath: /spiffe-workload-api
          readOnly: true
        - name: rhtas-functions
          mountPath: /usr/local/lib
          readOnly: true
{{- if eq .Values.rhtas.oidc.enabled true }}
        - name: rhtas-oidc-client-secret
          mountPath: /run/secrets/rhtas/oidc
          readOnly: true
{{- end }}
      script: |
        #!/usr/bin/env bash

        source /usr/local/lib/rhtas-functions

        sign_artifact $(workspaces.source.path)/$(params.qtodo-artifact-path)